@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import '@nuxt/ui';

@font-face {
	font-family: 'Horsham';
	src: url('@/assets/fonts/Horsham.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('@/assets/fonts/Roboto.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@layer base {
	@theme static {
		--font-horsham: 'Horsham', sans-serif;
		--font-roboto: 'Roboto', sans-serif;
		--color-primary: #36affb;
		--color-primary-50: #eef9ff;
		--color-primary-100: #d8f1ff;
		--color-primary-200: #b9e7ff;
		--color-primary-300: #89daff;
		--color-primary-400: #52c4ff;
		--color-primary-500: #2aa5ff;
		--color-primary-600: #1287fd;
		--color-primary-700: #0c6fe9;
		--color-primary-800: #1159bc;
		--color-primary-900: #144d94;
		--color-primary-950: #112f5a;
	}
}

body {
	font-family: Helvetica, sans-serif;
}
